html {
    margin: 0 0 0 0;
    height: 100%;
    width: 100%;
}

body {
	height: 100%;
	width: 100%;
    font-family: Lucida Console, Monaco5, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
	font-size: 0.95rem;
}

.app .searchbar {
	width: 100%;
}

.app ul {
	width: 400px;
	height: 400px;
	overflow-y: scroll;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.app ul li {
	width: 100%;
	min-height: 50px;
	overflow: hidden;
	border: 1px solid #000;
	box-sizing: border-box;
	line-height: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

.app ul li.closed {
	height: 50px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.app .controls {
	width: 100%;
}

.app .controls .left {
	float: left;
}

.app .controls .right {
	float: right;
}
